.bg-fondo {
  min-height: 100vh;
  width: 100%;
  background-image: url("img/fondo 3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}


.bg-gold {
    background-color: #400078b2 !important; /* Color dorado */
  }

.custom-navbar {
  background:  #400078b2 ;
  backdrop-filter: blur(12px);
  border-radius: 0 0 20px 20px;
  padding: 1rem 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.custom-navbar .navbar-brand {
  font-family: 'Forum', serif;
  font-size: 1.5rem;
  color: #ffffff !important;
  font-weight: bold;
  text-shadow: 1px 1px 5px #7f00ff;
}

.custom-navbar .nav-link {
  font-family: 'Poppins', sans-serif;
  color: #ffffff !important;
  font-weight: 500;
  margin-left: 1.5rem;
  position: relative;
  transition: all 0.3s ease;
}

.custom-navbar .nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.custom-navbar .nav-link:hover {
  color: #ffccff !important;
}

.custom-navbar .nav-link:hover::after {
  width: 100%;
}
